* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

.header {
    background-image: linear-gradient(to left, #30dcf3 50% , #ff5be4 80%);
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    
 
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    top: 17px;
    left: 24vw;
    
}
.mainLogo {
    width: 25rem;
    
    }

.intro {
    
    
    
}

.introduce {
    font-size: 2.5rem;
    text-align: left;
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    margin-top: 5.8rem;
    margin-left: 3rem;
    
}