* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

.header {
    background-image: linear-gradient(to left, #a2f4ff 50% , #ffaff2 80%);
    height: 20vh;
    width: 100vw;
    
 
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    top: 110;
    position: absolute;
}
.mainLogo {
    width: 240px;
    
    }

.intro {
    
    
    
}

.introduce {
    font-size: 3rem;
    text-align: left;
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    margin-top: 5rem;
    
}