:root {
    --primary-font: 'PT Sans Narrow', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

.header {
    background-image: linear-gradient(to right, #30dcf3 50% , #a82693 80%);
    height: 15rem;
    
    display: flex;
    justify-content: center;
    
 
}




main {
    margin: 0 auto;
    max-width: 80rem;
}


.mainLogo {
    width: 25rem;
    
    }

.intro {
    
    
    
}

.introduce {
    font-size: 4rem;
    text-align: left;
    font-family: var(--primary-font);
    margin-top: 5.8rem;
    margin-left: 3rem;
    color: #0a468a;
    
}

.introduce-2 {
    font-size: 3.5rem;
    text-align: end;
    margin: 3rem;
    font-family: var(--primary-font);
    color: #96099b;
    

}
